# No need to install dotenv, it's included with Create React App

#ServerURL
VITE_API_URL=http://localhost:dynamic_port

# Firebase Configuration
VITE_FIREBASE_APIKEY="<your_firebase_api_key>"

# Geo API Configuration
VITE_GEOAPIKEY="<your_geo_api_key>"