@import "tailwindcss";

/* Hide default show/hide password icon in Chrome/Edge */
@layer utilities {
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear,
  input[type="password"]::-webkit-textfield-decoration-container {
    display: none !important;
  }
}

/* Hide scrollbar category card */
*{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge old versions */
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* slideDown alimation for search bar and popup profile and Search Results */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Search Results page */

@keyframes slideInRight {
  from { opacity: 0; transform: translateX(100%); }
  to   { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(12px); }
  to   { opacity: 1; transform: translateY(0); }
}